<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.spiritlink.mvc.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="de.spiritlink.mvc.Perspective"
            id="de.spiritlink.mvc.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="View"
            class="de.spiritlink.mvc.view.View"
            id="de.spiritlink.mvc.view">
      </view>
      <view
            class="de.spiritlink.mvc.view.FormView"
            id="de.spiritlink.mvc.form"
            name="Input"/>
      <view
            class="de.spiritlink.mvc.view.LastCreateView"
            id="de.spiritlink.mvc.lastcreated"
            name="LastCreated"/>
   </extension>
   <extension
         id="sl_mvc_product"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.spiritlink.mvc.application"
            name="MVC-Demo"/>
   </extension>

</plugin>
