<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/jip"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.yasl.arch.impl.application.YASLApplicationStarter"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="jip"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dyasl.app.config.file=/com/jchapman/jipsnapman/yaslAppConfig.properties"/>
</launchConfiguration>
